// =============================================================================
// Font Sizes and Leading
// =============================================================================
$font-size-base        : 16px;

// =============================================================================
// Grid Sizes
// =============================================================================
$grid-column       : 3.75 * $font-size-base;      // 60px
$grid-gutter       : $grid-column / 3;            // 20px
$grid-gutter-split : $grid-gutter / 2;            // 10px
$grid-gutter-full  : $grid-column + $grid-gutter; // 80px
$grid-leading      : 1.5 * $font-size-base;       // 24px

// =============================================================================
// Responsive Breakpoints
// =============================================================================
$width-xs  : 320px;
$width-sm  : 480px;
$width-md  : 768px;
$width-lg  : 1024px;
$width-xlg : 1360px;
$width-xxlg : 1500px;

// =============================================================================
// Project-Specific Variables
// =============================================================================
$container-mw : 1460px;

// =============================================================================
// Color Variables
// =============================================================================
$color-active : #EC1EA7;
$color-semi-active : #FFD119;
$color-txt : #DFDBDF;
$color-txt-dark : #4C4C4C;
$color-header-bg-left: #3863E9;
$color-header-bg-right: #2087EC;
