.container {
   max-width: $container-mw;
   margin: 0 10px;
   transition: margin .5s ease;
   @media (min-width: $width-md) {
      margin: 0 20px;
   }
   @media (min-width: $width-xxlg) {
      margin: 0 auto;
   }
}

.container-wide {
   margin: 0;
   width: 100%;
}